{
  "overrides": [
    {
      "files": [
        "./client/src/**/*.tsx"
      ],
      "options": {
        "plugins": [
          "prettier-plugin-tailwindcss"
        ]
      }
    },
    {
      "files": [
        "./**/*.tsx"
      ],
      "options": {
        "printWidth": 100,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none",
        "tabWidth": 2
      }
    }
  ]
}